<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<body>
	<p:dialog widgetVar="fareTypeCreateDialogWidget"
		id="fareTypeCreateDialogId" height="150" width="500" modal="true"
		closable="true" draggable="false" resizable="false">
		<h:form id="fareTypeCreateDialogForm" prependId="false">
			<h:panelGrid columns="2">
				<h:outputText value="* #{bundle.fareTypeDescription}" />
				<h:inputText value="#{fareTypeBean.fareType.description}" required="true" label="#{bundle.fareTypeDescription}" />
		
				<p:commandButton value="#{bundle.create}" icon="ui-icon-plus"
					action="#{fareTypeBean.createFareType()}"
					update=":messageGrowl :fareTypesForm:fareTypesTable"
					oncomplete="closeDialogIfSucess(xhr, status, args, fareTypeCreateDialogWidget, 'fareTypeCreateDialogId')" />
				<p:commandButton value="#{bundle.cancel}" icon="ui-icon-cancel" actionListener="#{fareTypeBean.resetFareType()}"
					onclick="fareTypeCreateDialogWidget.hide();" type="button" />
			</h:panelGrid>
		</h:form>
	</p:dialog>
</body>
</html>
