<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:c="http://java.sun.com/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<f:view locale="#{localeBean.locale}" contentType="text/html">
	<h:head>
		<title>Bicycle Review</title>
	</h:head>
	<h:body>
		<h:panelGroup>
			<p:panel>
				<h:link outcome="bicycle">#{messages.label_link}</h:link>
			</p:panel>
			<h:form prependId="false" id="growlForm">
				<p:growl id="growl" showDetail="false" />
			</h:form>
			<h:form prependId="false" id="dataForm">
				<h:panelGroup>
					<p:panel id="data">
						<h:outputFormat id="noRecordsFound"
							rendered="#{!bicycleBean.dataVisible}"
							value="#{messages.label_no_records_found}">
							<f:param value="Bicycles" />
						</h:outputFormat>
						<p:dataTable value="#{bicycleBean.bicycles}"
							var="bike" rendered="#{bicycleBean.dataVisible}">
							<p:column headerText="Factory">
								<h:outputText value="#{bike.factory}"/>
							</p:column>
							<p:column headerText="Name">
								<h:outputText value="#{bike.name}"/>
							</p:column>
							<p:column headerText="Year">
								<h:outputText value="#{bike.year}"/>
							</p:column>
							<p:column headerText="Action">
								<p:commandButton icon="ui-icon-pencil" 
									update=":form:formGrid"
									oncomplete="bikeEditor.show()">
									<f:setPropertyActionListener value="#{bike}"
										target="#{bicycleBean.selectedBike}"/>
								</p:commandButton>
								<p:commandButton icon="ui-icon-trash" 
									update=":form:formGrid"
									oncomplete="deleteDialog.show()">
									<f:setPropertyActionListener value="#{bike}"
										target="#{bicycleBean.selectedBike}"/>
								</p:commandButton>
							</p:column>
						</p:dataTable>
					</p:panel>
					<p:panel>
						<p:commandLink value="#{messages.label_create}" 
							action="#{bicycleBean.displayEditor}" update=":bikeEditor" 
							oncomplete="bikeEditor.show()"/>
					</p:panel>
				</h:panelGroup>
			</h:form>
		<p:dialog id="bikeEditor" widgetVar="bikeEditor" 
			modal="true"
			header="Bike Editor">
				<p:ajax event="close" update=":dataForm:data"
					listener="#{bicycleBean.handleDialogClose}" />
				<p:outputPanel id="editorPanel">
					<h:form id="form" enctype="multipart/form-data">
						<h:panelGrid columns="3" id="formGrid">
							<h:outputLabel for="factoryInput" value="Factory * :"/>
							<h:inputText id="factoryInput" required="true" value="#{bicycleBean.selectedBike.factory}"/>
							<p:message for="factoryInput" display="icon"/>
							<h:outputLabel for="nameInput" value="Name * :"/>
							<h:inputText id="nameInput" required="true" value="#{bicycleBean.selectedBike.name}"/>
							<p:message for="nameInput" display="icon"/>
							<h:outputLabel for="yearInput" value="Year  :"/>
							<h:inputText id="yearInput" value="#{bicycleBean.selectedBike.year}"/>
							<p:message for="yearInput" display="icon"/>
						</h:panelGrid>
						<p:commandButton id="btnSave" value="#{messages.label_save}"
							action="#{bicycleBean.persist}" update="formGrid :dataForm:data :growlForm:growl"/>
						<p:commandButton id="btnClose" value="#{messages.label_close}"
							onclick="bikeEditor.hide()" type="button" />
					</h:form>
				</p:outputPanel>
			</p:dialog>
		<p:confirmDialog id="deleteDialog" widgetVar="deleteDialog"
			message="#{messages.label_delete_record}" header="#{messages.label_confirm_delete}">
			<p:outputPanel id="deletePanel">
				<h:form id="deleteForm">
					<p:commandButton id="deleteYesButton" value="#{messages.label_yes}"
						action="#{bicycleBean.delete}"
						update=":dataForm:data :growlForm:growl"
						oncomplete="deleteDialog.hide()" />
					<p:commandButton id="deleteNoButton" value="#{messages.label_no}"
						onclick="deleteDialog.hide()"/>
				</h:form>
			</p:outputPanel>
		</p:confirmDialog>
		</h:panelGroup>
	</h:body>
</f:view>
</html>