<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:c="http://java.sun.com/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<f:view locale="#{localeBean.locale}" contentType="text/html">
	<h:head>
		<title>Hello World</title>
	</h:head>
	<h:body>
		<h:panelGrid columns="2">
			<h:outputLabel value="Nama :" for="text1"/>
			<h:inputText id="text1" value="A"/>
			<h:outputLabel value="Alamat :" rendered="true" for="text2"/>
			<h:inputText id="text2" value="mars!"/>
		</h:panelGrid> 
	</h:body>
</f:view>
</html>