<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<f:view contentType="text/html">
	<h:head>
		<f:facet name="first">
			<meta http-equiv="X-UA-Compatible" content="EmulateIE8" />
			<meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
			<title>KNT Airport</title>
		</f:facet>

		<link type="text/css" rel="stylesheet"
			href="#{request.contextPath}/css/default.css" />
		<link type="text/css" rel="stylesheet"
			href="#{request.contextPath}/css/syntaxhighlighter.css" />
		<h:outputStylesheet name="template.css" library="css" />

		<style type="text/css">
.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}
</style>
	</h:head>


	<h:body>

		<h:panelGroup id="top" layout="block">
			<p:panel>
				<h:form>
					<h:panelGroup>
						<h:graphicImage name="images-template/logo.png" styleClass="logo" />
						<h:outputText value="Belajar Untuk Masa Depan" styleClass="motto"
							style="text-align:center" />
					</h:panelGroup>
				</h:form>
				<h:form>
					<p:menubar styleClass="menubar">
						<p:menuitem value="Home"
							style="font-size:18px; padding-right:25px; padding-left:25px;" />
						<p:menuitem value="Member Login"
							style="font-size:18px; padding-right:25px; padding-left:25px;" />
						<p:menuitem value="Web Check-in"
							style="font-size:18px; padding-right:25px; padding-left:25px;" />
						<p:menuitem value="Manage my booking"
							style="font-size:18px; padding-right:25px; padding-left:25px;" />
						<p:menuitem value="Help"
							style="font-size:18px; padding-right:25px; padding-left:25px;" />
					</p:menubar>
				</h:form>
			</p:panel>
		</h:panelGroup>

		<h:panelGroup id="left" layout="block" closable="false"
			collapsible="true" header="Menu">
			<p:panel style="min-height:600px;">
				<h:form>
					<p:accordionPanel>
						<p:tab title="Booking">
							<h:outputLink>Search for Flight</h:outputLink>
						</p:tab>

						<p:tab title="My Flight">
							<h:outputLink>Manage my booking</h:outputLink>
							<br />
							<h:outputLink>Check my booking</h:outputLink>
							<br />
							<h:outputLink>Flight status</h:outputLink>
							<br />
							<h:outputLink>Self Check-in</h:outputLink>
						</p:tab>

						<p:tab title="Flight Info">
							<h:outputLink>Menu 3 Content</h:outputLink>
						</p:tab>

						<p:tab title="Hotels and Tours">
							<h:outputLink>Menu 4 Content</h:outputLink>
						</p:tab>

						<p:tab title="Travel Info">
							<h:outputLink>Menu 5 Content</h:outputLink>
						</p:tab>
					</p:accordionPanel>
				</h:form>
			</p:panel>
		</h:panelGroup>

		<h:panelGroup id="center" layout="block">
			<p:panel>
				<ui:insert name="center">
				</ui:insert>
			</p:panel>
		</h:panelGroup>

		<h:panelGroup id="right" layout="block">
			<p:panel style="min-height:600px;">
				<h:form>
					<h:panelGrid columns="3" styleClass="panel_grid">
						<h:outputLabel for="departureAirportSearch" value="*From" />
						<p:selectOneMenu id="departureAirportSearch"
							value="#{bookingBean.searchDeparture}" effect="fade"
							converter="#{airportConverter}">
							<f:selectItem itemLabel="Select Departure" itemValue="" />
							<f:selectItems value="#{bookingBean.airports}" var="airport"
								itemLabel="#{airport.location}" itemValue="#{airport}" />
						</p:selectOneMenu>
						<p:message for="departureAirportSearch" display="icon" />

						<h:outputLabel for="arrivalAirportSearch" value="*To" />
						<p:selectOneMenu id="arrivalAirportSearch"
							value="#{bookingBean.searchArrival}" effect="fade"
							converter="#{airportConverter}">
							<f:selectItem itemLabel="Select Arrival" itemValue="" />
							<f:selectItems value="#{bookingBean.airports}" var="airport"
								itemLabel="#{airport.location}" itemValue="#{airport}" />
						</p:selectOneMenu>
						<p:message for="arrivalAirportSearch" display="icon" />

						<h:outputLabel value="One way only" />
						<p:selectBooleanCheckbox id="bookingType"
							value="#{bookingBean.bookingType}" />
						<h:outputLabel />

						<h:outputLabel for="departureDate" value="Depart" />
						<p:calendar id="departureDate" required="true" mode="popup"
							value="#{bookingBean.departureDate}" />
						<p:message for="departureDate" display="icon" />

						<h:outputLabel for="arrivalDate" value="Return" />
						<p:calendar id="arrivalDate" mode="popup"
							value="#{bookingBean.arrivalDate}" />
						<p:message for="arrivalDate" display="icon" />

						<h:outputLabel for="guestInput" value="Guest" />
						<p:selectOneMenu id="guestInput" required="true"
							value="#{bookingBean.passCount}">
							<f:selectItem itemLabel="1" itemValue="1" />
							<f:selectItem itemLabel="2" itemValue="2" />
							<f:selectItem itemLabel="3" itemValue="3" />
							<f:selectItem itemLabel="4" itemValue="4" />
							<f:selectItem itemLabel="5" itemValue="5" />
							<f:selectItem itemLabel="6" itemValue="6" />
							<f:selectItem itemLabel="7" itemValue="7" />
							<f:selectItem itemLabel="8" itemValue="8" />
							<f:selectItem itemLabel="9" itemValue="9" />
						</p:selectOneMenu>
						<p:message for="guestInput" display="icon" />

						<h:outputLabel for="childInput" value="Child" />
						<p:selectOneMenu id="childInput">
							<f:selectItem itemLabel="0" itemValue="0" />
							<f:selectItem itemLabel="1" itemValue="1" />
							<f:selectItem itemLabel="2" itemValue="2" />
							<f:selectItem itemLabel="3" itemValue="3" />
							<f:selectItem itemLabel="4" itemValue="4" />
							<f:selectItem itemLabel="5" itemValue="5" />
							<f:selectItem itemLabel="6" itemValue="6" />
							<f:selectItem itemLabel="7" itemValue="7" />
							<f:selectItem itemLabel="8" itemValue="8" />
							<f:selectItem itemLabel="9" itemValue="9" />
						</p:selectOneMenu>
						<p:message for="childInput" display="icon" />
						<p:commandButton id="btnSearch" value="Search" async="false"
							ajax="false" action="#{bookingBean.findFlight}" />
					</h:panelGrid>
				</h:form>
			</p:panel>
		</h:panelGroup>

		<h:panelGroup id="bottom" layout="block">
			<p:panel>
				<h:form styleClass="footer_list">
					<ul>
						<h:outputLink value="ticket_class.jsf">Site map</h:outputLink>
						<h:outputLink value="ticket_class.jsf">Contact us</h:outputLink>
						<h:outputLink value="ticket_class.jsf">Schedule of Fees</h:outputLink>
						<h:outputLink value="ticket_class.jsf">Fax</h:outputLink>
					</ul>
				</h:form>
			</p:panel>
		</h:panelGroup>

	</h:body>
</f:view>
</html>
