<?xml version="1.0" encoding="UTF-8"?>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<ui:composition template="template/layout.xhtml">
	<ui:define name="center">
		<h:form prependId="false" id="growlForm">
			<p:growl id="growl" showDetail="false" />
		</h:form>
		<h:form prependId="false" id="dataForm">
			<p:panel id="data" toggleable="true" toggleSpeed="250">
				<f:facet name="header">
					<h:outputText value="#{messages.label_airport}" />
				</f:facet>
				<p:dataTable id="list" value="#{airports}" var="airport"
					resizableColumns="false" paginator="true"
					paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,25,50" rows="10">
					<p:column headerText="Name">
						<h:outputText value="#{airport.name}" />
					</p:column>
					<p:column headerText="Location">
						<h:outputText value="#{airport.location}" />
					</p:column>
					<p:column headerText="Action">
						<p:commandButton icon="ui-icon-pencil" update=":form:formGrid"
							oncomplete="airportDialog.show()">
							<f:setPropertyActionListener value="#{airport}"
								target="#{airportBean.selectedAirport}" />
						</p:commandButton>
						<p:commandButton icon="ui-icon-trash"
							oncomplete="deleteDialog.show()">
							<f:setPropertyActionListener value="#{airport}"
								target="#{airportBean.selectedAirport}" />
						</p:commandButton>
					</p:column>
				</p:dataTable>
			</p:panel>
			<p:panel>
				<p:commandLink value="#{messages.label_create}"
					actionListener="#{airportBean.create}"
					oncomplete="airportDialog.show()"
					update=":form:formGrid">
					<f:param
						name="#{not empty javax.enterprise.context.conversation.id?'cid':''}"
						value="#{javax.enterprise.context.conversation.id}" />
				</p:commandLink>
			</p:panel>
		</h:form>

		<p:dialog id="airportEditor" widgetVar="airportDialog" modal="true"
			header="Airport Editor" visible="false">
			<p:ajax event="close" listener="#{airportBean.onClose}" />
			<p:outputPanel id="editorPanel">
				<h:form id="form" enctype="multipart/form-data">
					<h:panelGrid columns="3" id="formGrid">
						<h:outputLabel for="nameInput" value="Name * :" />
						<h:inputText id="nameInput" required="true"
							value="#{airportBean.selectedAirport.name}" />
						<p:message for="nameInput" display="icon" />

						<h:outputLabel for="locationInput" value="Location *:" />
						<h:inputText id="locationInput" required="true"
							value="#{airportBean.selectedAirport.location}" />
						<p:message for="locationInput" display="icon" />

						<h:outputLabel for="detailsInput" value="Details :" />
						<h:inputText id="detailsInput" required="false"
							value="#{airportBean.selectedAirport.details}" />
						<p:message for="detailsInput" display="icon" />
					</h:panelGrid>
					<p:commandButton id="btnSave" value="#{messages.label_save}"
						action="#{airportBean.persist}"
						update=":dataForm:list :growlForm:growl" />
					<p:commandButton id="btnClose" value="#{messages.label_close}"
						onclick="airportDialog.hide()" type="button" />
				</h:form>
			</p:outputPanel>
		</p:dialog>

		<p:confirmDialog id="deleteEditor" widgetVar="deleteDialog"
			message="#{messages.label_delete_record}"
			header="#{messages.label_confirm_delete}">
			<p:outputPanel id="deletePanel">
				<h:form id="deleteForm">
					<p:commandButton id="deleteYesButton" value="#{messages.label_yes}"
						action="#{airportBean.delete}"
						update=":dataForm:list"
						oncomplete="deleteDialog.hide()" />
					<p:commandButton id="deleteNoButton" value="#{messages.label_no}"
						oncomplete="deleteDialog.hide()" />
				</h:form>
			</p:outputPanel>
		</p:confirmDialog>

	</ui:define>
</ui:composition>
</html>
