<?xml version="1.0" encoding="UTF-8"?>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<f:view type="text/html">
	<h:head>
		<title>Airflight Management System</title>
	</h:head>

	<h:body>
		<ui:composition template="template/layout.xhtml">
			<ui:define name="center">
				<h:form prependId="false" id="growlForm">
					<p:growl id="growl" showDetail="false" />
				</h:form>
				<h:form prependId="false" id="dataForm">
					<p:panel id="editorPanel">
						<f:facet name="header">
							<h:outputText
								value="Passanger #{bookingBean.counter}/#{bookingBean.passCount}" />
						</f:facet>

						<h:panelGrid columns="3" id="formGrid" toggleable="true"
							toggleSpeed="250">

							<h:outputLabel for="firstNameInput" value="First Name * :" />
							<h:inputText id="firstNameInput" required="true"
								value="#{bookingBean.selectedPassenger.firstName}" />
							<p:message for="firstNameInput" display="icon" />

							<h:outputLabel for="lastNameInput" value="LastName :" />
							<h:inputText id="lastNameInput" required="false"
								value="#{bookingBean.selectedPassenger.lastName}" />
							<p:message for="lastNameInput" display="icon" />

							<h:outputLabel for="addressLine1" value="Address :" />
							<h:inputText id="addressLine1" required="false"
								value="#{bookingBean.selectedPassenger.address.addressLine1}" />
							<p:message for="addressLine1" display="icon" />

							<h:outputLabel for="addressLine2" value="" />
							<h:inputText id="addressLine2" required="false"
								value="#{bookingBean.selectedPassenger.address.addressLine2}" />
							<p:message for="addressLine2" display="icon" />

							<h:outputLabel for="city" value="City :" />
							<h:inputText id="city" required="false"
								value="#{bookingBean.selectedPassenger.address.city}" />
							<p:message for="city" display="icon" />

							<h:outputLabel for="state" value="State :" />
							<h:inputText id="state" required="false"
								value="#{bookingBean.selectedPassenger.address.state}" />
							<p:message for="state" display="icon" />

							<h:outputLabel for="pinCode" value="Pin Code :" />
							<h:inputText id="pinCode" required="false"
								value="#{bookingBean.selectedPassenger.address.pinCode}" />
							<p:message for="pinCode" display="icon" />

							<h:outputLabel for="phone1" value="Phone :" />
							<h:inputText id="phone1" required="false"
								value="#{bookingBean.selectedPassenger.address.phone1}" />
							<p:message for="phone1" display="icon" />

							<h:outputLabel for="phone2" value="" />
							<h:inputText id="phone2" required="false"
								value="#{bookingBean.selectedPassenger.address.phone2}" />
							<p:message for="phone2" display="icon" />

							<p:commandButton id="btnNext" value="Next" async="false"
								ajax="false" action="#{bookingBean.findPassenger}" />

						</h:panelGrid>

					</p:panel>
				</h:form>
			</ui:define>
		</ui:composition>
	</h:body>
</f:view>
</html>
