<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/default.xhtml">
	<ui:define name="content">
		<h:form prependId="false" id="growlForm">
			<p:growl id="growl" showDetail="false" />
		</h:form>
		<h:form prependId="false" id="dataForm">
			<p:panel id="data" toggleable="true" toggleSpeed="250">
				<f:facet name="header">
					<h:outputText value="Purchase Orders" />
				</f:facet>
				<h:outputFormat id="noRecordsFound"
					value="#{messages.label_no_records_found}"
					rendered="#{empty purchaseOrderBean.purchaseOrders}">
					<f:param value="Purchase Order" />
				</h:outputFormat>
				<p:dataTable id="list" value="#{purchaseOrderBean.purchaseOrders}"
					var="purchaseOrder" rendered="#{!empty purchaseOrderBean.purchaseOrders}"
					resizableColumns="false" paginator="true"
					paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,25,50" rows="10">
					<p:column headerText="Date">
						<h:outputText value="#{purchaseOrder.date}" />
					</p:column>
					<p:column headerText="Transaction Number">
						<h:outputText value="#{purchaseOrder.transactionNumber}" />
					</p:column>
					<p:column headerText="Action">
						<p:commandButton icon="ui-icon-pencil" update=":form"
							oncomplete="purchaseOrderDialog.show()">
							<f:setPropertyActionListener value="#{purchaseOrder}"
								target="#{purchaseOrderBean.selectedPurchaseOrder}" />
						</p:commandButton>
						<p:commandButton icon="ui-icon-trash" update=":form:formGrid"
							oncomplete="deleteDialog.show()">
							<f:setPropertyActionListener value="#{purchaseOrder}"
								target="#{purchaseOrderBean.selectedPurchaseOrder}" />
						</p:commandButton>
					</p:column>
				</p:dataTable>
			</p:panel>
			<p:panel>
				<p:commandLink value="#{messages.label_create}"
					onclick="purchaseOrderDialog.show()" />
				<p:commandLink value="#{messages.label_refresh}"
					action="#{purchaseOrderBean.findAll()}" 
					update=":dataForm:data :growlForm:growl :form" />
			</p:panel>
		</h:form>
		<p:dialog id="purchaseOrderEditor" widgetVar="purchaseOrderDialog"
			modal="true" header="PurchaseOrder Editor" visible="false">
			<p:ajax event="close" update=":dataForm:data :form"
				listener="#{purchaseOrderBean.onClose}" />
			<p:outputPanel id="editorPanel">
				<h:form id="form" enctype="multipart/form-data">
					<h:panelGrid columns="3" id="formGrid">
						<h:outputLabel for="transactionNumberInput"
							value="Transaction Number * :" />
						<h:inputText id="transactionNumberInput" required="true"
							value="#{purchaseOrderBean.selectedPurchaseOrder.transactionNumber}" />
						<p:message for="transactionNumberInput" display="icon" />

						<h:outputLabel for="transactionDateInput"
							value="Transaction Date * :" />
						<p:calendar id="transactionDateInput" required="true" mode="popup"
							value="#{purchaseOrderBean.selectedPurchaseOrder.date}" />
						<p:message for="transactionDateInput" display="icon" />

						<h:outputLabel for="contactInput" value="Contact * :" />
						<h:inputText id="contactInput" required="true"
							value="#{purchaseOrderBean.selectedPurchaseOrder.contact}" />
						<p:message for="contactInput" display="icon" />

						<h:outputLabel for="userInput" value="User * :" />
						<p:selectOneMenu id="userInput"
							value="#{purchaseOrderBean.selectedPurchaseOrder.user}"
							effect="fade" converter="#{employeeConverter}">
							<f:selectItem itemLabel="Select One" itemValue="" />
							<f:selectItems value="#{purchaseOrderBean.users}" var="user"
								itemLabel="#{user.firstName} #{user.lastName}"
								itemValue="#{user}" />
						</p:selectOneMenu>
						<p:message for="userInput" display="icon" />
					</h:panelGrid>
					<p:panel>
						<h:panelGrid columns="4" id="detailFormGrid">
							<h:inputText id="quantityInput" required="true" size="3"
								value="#{purchaseOrderBean.selectedPurchaseOrderDetail.quantity}" />
							<h:outputLabel for="quantityInput" value=" x " />
							<p:selectOneMenu id="productInput"
								value="#{purchaseOrderBean.selectedPurchaseOrderDetail.product}"
								effect="fade" converter="#{productConverter}">
								<f:selectItem itemLabel="Select One" itemValue="" />
								<f:selectItems value="#{purchaseOrderBean.products}"
									var="product" itemLabel="#{product.name}"
									itemValue="#{product}" />
							</p:selectOneMenu>
							<p:commandButton value="#{messages.label_add}"
								action="#{purchaseOrderBean.addPurchaseOrderDetail}"
								update="detailGrid detailFormGrid detailTotal" />
						</h:panelGrid>
					</p:panel>
					<p:panel>
						<p:dataTable id="detailGrid"
							value="#{purchaseOrderBean.selectedPurchaseOrder.details}"
							var="purchaseOrderDetail">
							<p:column headerText="Qty">
								<h:outputText value="#{purchaseOrderDetail.quantity}" />
							</p:column>
							<p:column headerText="Product">
								<h:outputText value="#{purchaseOrderDetail.product.name}" />
							</p:column>
							<p:column headerText="Price">
								<h:outputText value="#{purchaseOrderDetail.product.price}" />
							</p:column>
							<p:column headerText="Total">
								<h:outputText value="#{purchaseOrderDetail.total}" style="" />
							</p:column>
						</p:dataTable>

					</p:panel>
					<p:panel>
						<h:panelGrid columns="2" id="detailTotal">
							<h:outputLabel value="Total :" />
							<h:outputText size="5"
								value="#{purchaseOrderBean.selectedPurchaseOrder.total}" />
						</h:panelGrid>
					</p:panel>
					<p:commandButton id="btnSave" value="#{messages.label_save}"
						action="#{purchaseOrderBean.persist}"
						update="formGrid :dataForm:data :growlForm:growl"
						oncomplete="purchaseOrderDialog.hide()" />
					<p:commandButton id="btnClose" value="#{messages.label_close}"
						action="#{purchaseOrderBean.refreshEntity}"
						update="form :dataForm:data :growlForm:growl"
						oncomplete="purchaseOrderDialog.hide()" />
					<p:commandButton id="btnClose2" value="#{messages.label_close}"
						onclick="purchaseOrderDialog.hide()" type="button" />
				</h:form>
			</p:outputPanel>
		</p:dialog>
		<p:confirmDialog id="deleteEditor" widgetVar="deleteDialog"
			message="#{messages.label_delete_record}"
			header="#{messages.label_confirm_delete}">
			<p:outputPanel id="deletePanel">
				<h:form id="deleteForm">
					<p:commandButton id="deleteYesButton" value="#{messages.label_yes}"
						action="#{purchaseOrderBean.delete}"
						update=":dataForm:data :growlForm:growl"
						oncomplete="deleteDialog.hide()" />
					<p:commandButton id="deleteNoButton" value="#{messages.label_no}"
						onclick="deleteDialog.hide()" />
				</h:form>
			</p:outputPanel>
		</p:confirmDialog>
	</ui:define>
</ui:composition>