body{
	font : 14px Arial;
}

#page{
	margin : 0 auto;
	padding : 0 auto;
	position : relative;
}

#left{
	width : 20%;
	float : left;
	position : relative;
	overflow : hidden;
}

#center{
	width : 55%;
	min-height : 600px;
	float : left;
	position : relative;	
	overflow:hidden;
}

#right{
	width : 25%;
	float : left;
	position : relative;
	overflow : hidden;
}

#bottom{
	width : 100%;
	height : 50px;
	margin : 0 0;
	text-align : center;
	clear:both;
}

.panel_grid td:nth-child(1), td:nth-child(2){
	text-align : left;
	width : 10%;
	margin : 0 0;
}

.calendar input{
	width : 80%;
}

.footer_list li{
	display : inline;
}

.footer_list a{
	padding : 0 20px;
}
